<!DOCTYPE html>
<html>

  {% include head.html %}

 <!--  <body data-spy="scroll" data-target="#myAffix"> -->
  <body>

    {% include header.html %}

    <div id="main" class="container-fluid main">
		<div id="index" class="row">
		  <div class="col-sm-3">
			<div class="row show-grid">
				<div class="shadow-corner-curl categories-list ">
				  <div class="categories-list-header">
					Categories
				  </div>
				  
				  <a href="/" class="categories-list-item" cate="All">
					All<span class="my-badge"> {{site.posts | size}}</span>
				  </a>
				  {% for category in site.categories %}
					<a href="/?cat={{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
					  {{ category | first }} <span class="my-badge">{{ category | last | size }}</span>
					</a>
				  {% endfor %}
				</div>
			</div>
			<div class="row show-grid">
				<div class="shadow-corner-curl archive-list">
				  <div class="archive-list-header">
					Archives
				  </div>
				{% assign counter = 0 %}
				{% for post in site.posts %}
					{% assign thismonth = post.date | date: "%B %Y" %}
					{% assign prevmonth = post.previous.date | date: "%B %Y" %}
					{% assign counter = counter | plus: 1 %}
					{% if thismonth != prevmonth %}
						<a href="{{ site.archive-link }}/?date={{ post.date | date:'%Y%m' }}" class="archive-list-item" }}">{{ thismonth }} <span class="my-badge">{{ counter }}</span></a>
						{% assign counter = 0 %}
					{% endif %}
				{% endfor %}
				</div>
			  </div>
		  </div>
		  <div class="col-sm-9">
			  {{ content }}
		</div>	
    </div>

    
    <div id="top" data-toggle="tooltip" data-placement="left" title="Back To Top">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>
   {% include footer.html %}

{% if page.comments %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'dancyxblog';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); 
		dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}

  </body>
</html>
